@import "./variables/base";
@import "./variables/vairables";
*{
  padding:0;
  margin:0;
}
html{
  font-size:62.5%;
  body{

    font-family: var(--default-font);
    main{
      background:var(--color-white-1);
      .header-overlay{
        width:100%;
        height:100%;
        background:rgba($color: #3C1A49, $alpha: 0.2);
      }
      header{
        height:100vh;
        background-image: url("/images/nastuh-abootalebi-yWwob8kwOCk-unsplash.jpg");
        background-size:cover;
        nav{
          display:flex;
          width:90%;
          margin:0 auto;
          
          justify-content:space-between;	
          .logo{
               margin-top:0.6rem;
               font-size:2rem;
               color:var(--color-white);
             }
          ul{
            display:flex;
             justify-content:flex-end;	
             align-items:flex-start;
             align-content:flex-start;
             .login-btn{
                  background:orange;
                  margin-top:1rem;
                  padding:1rem 2.5rem;
                  font-weight:500;
                  cursor:pointer;
                  border-radius:0.2rem; 
                 
                }
             li{
               list-style:none;
               padding:2rem;
               a{
                 text-decoration:none;
                 color:var(--color-white);
                 font-size: 1.6rem;
                }
                
             }
          }
        }
        .hero-section{
          width:90%;
          margin:10rem auto;
          display:flex;
          justify-content:center;
          align-items:center;
          align-items:center;
          flex-direction:column;
         
          height:25rem;
          h2{
            color:var(--color-white);
            font-size:3rem;
            span{
              color:orange;
            }
            
          }
          .filter-wrapper{
            background: var(--color-white);
           grid-template-columns:1fr 1fr 1fr 1fr;
            display:grid;
            width:90%;
            margin:0 auto;
            height:5rem;
            padding-top:0.5rem;
          padding-bottom:0.5rem;
            justify-content:center;
            border-radius:0.8rem;
            margin-top:7rem;
            .select{
              position:relative;
              background:none;
              border:none;
              height:80%;
              margin-top:0.5rem;
              border-right:1px solid #d8d8d8;
              select{
                outline: 0;
                box-shadow: none;
                border: 0 !important;
                width:100%;
                background-image: none;
                padding:0 2rem;

              }
                
                &:after {
                content: '\25BC';
                position: absolute;
                top: 1rem;
                right: 2rem;
                color:black;
                font-size:1.4rem; 
                cursor: pointer;
                pointer-events: none;
                -webkit-transition: .25s all ease;
                -o-transition: .25s all ease;
                transition: .25s all ease;
                }


            }
            select{
              background:none;
              border:none;
              padding:1rem 2rem;
              height:80%;
              margin-top:0.5rem;
              border-right:2px solid #d8d8d8;
              padding-right:4rem;
              -moz-appearance: none;
              -webkit-appearance: none;
              appearance: none;
            }
            .filter-search{
              background:orange;
              border:none;
              height:80%;
              border-radius:0.6rem;
              width: 90%;
              margin:0 auto;
              margin-top:0.5rem;
              color:white;
              text-transform:uppercase;
              font-size:1.8rem;
              position:relative;
              cursor:pointer;
              &:before{
                content:"\2315";
               display: inline-block;
              -webkit-transform: rotate(300deg);
              -moz-transform: rotate(300deg);
              -o-transform: rotate(300deg);
              -ms-transform: rotate(300deg);
              transform: rotate(270deg);
              position:absolute;
              left:4rem;
              top:-1rem;
              font-size:3rem;
              }
            }
          }
          
        }
      }
    }
  }
  
  .popular-locations{
    margin-top:10rem;
    text-align:center;
    display:flex;
    justify-content: center;
    flex-direction: column;
    h3{
      font-size:2.2rem;
      font-family: var(--default-font);
      color:#3C1A49;
    }
    hr{
      width:20%;
      margin:2rem auto;
    }
    p{
      color:var(--primary-color-light);
      font-size:1.4rem;
      margin:2rem auto;
    }
  }
 
  .how-it--works{
    background:url("/images/luke-van-zyl-koH7IVuwRLw-unsplash.jpg");
    margin-top:10rem;
    text-align:center;
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    display:flex;
    justify-content: center;
    flex-direction: column;
    color:white;
    .work-overlay{
      width:100%;
      background:rgba($color: #3C1A49, $alpha: 0.6);
      height:100%;
      
    }

    h3{
      font-size:2.2rem;
      padding-top:4rem;
      font-family: var(--default-font);
      color:white;
    }
    hr{
      width:20%;
      margin:2rem auto;
    }
    p{
      color:var(--primary-color-light);
      font-size:1.4rem;
      margin:2rem auto;
      color:white;
    }
    
    .works-row{
      
      display:flex;
      justify-content:center;
      .work-card{
        box-shadow: var(--elevation-2dp);
        padding:2rem;
        margin:4rem 1rem;
        border-radius:0.8rem;
        background:rgba($color: #3C1A49, $alpha: 0.5);
        .work-icon{
          background:white;
          box-shadow: var(--elevation-2dp);
          height:10rem;
          width:10rem;
          margin:2rem auto;
          border-radius:50%;
        }
        h4{
          font-size:1.5rem;
        }
      }
    }
  }
    .testimonials{
      margin-top:10rem;
    text-align:center;
    display:flex;
    justify-content: center;
    flex-direction:column;
    h3{
      font-size:2.2rem;
      font-family: var(--default-font);
      color:#3C1A49;
    }
    hr{
      width:20%;
      margin:2rem auto;
    }
    p{
      color:var(--primary-color-light);
      font-size:1.4rem;
      margin:2rem auto;
    }
    .testimonial-row{
      display:flex;
      width:90%;
      margin:0 auto;
      button{
        width:8rem;
        height:4rem;
        position:relative;
        border-radius:50%;
        font-size:3rem;
        border:none;
        box-shadow: var(--elevation-2dp);
        background:white;
        right:3rem;
        top:20rem;
      }
      .testimonial-card{
      box-shadow: var(--elevation-2dp);
      padding:2rem;
      margin:4rem 1rem;
      border-radius:0.8rem;
      h5{
        font-size:9rem;
        color:orange;
        padding:0;
        margin:o;
      }
      .testi-image{
        width:10rem;
        height:10rem;
        background:white;
        border-radius:50%;
        margin:0 auto;
      }
      h4{
        font-size:1.5rem;
        padding:2rem;
      }
       }

    }
    
    }
}